In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

In [3]:
df = pd.read_excel('data_airline_reviews.xlsx')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131895 entries, 0 to 131894
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          65947 non-null  object
 1   overall          64017 non-null  float64
 2   author           65947 non-null  object
 3   review_date      65947 non-null  object
 4   customer_review  65947 non-null  object
 5   aircraft         19718 non-null  object
 6   traveller_type   39755 non-null  object
 7   cabin            63303 non-null  object
 8   route            39726 non-null  object
 9   date_flown       39633 non-null  object
 10  seat_comfort     60681 non-null  float64
 11  cabin_service    60715 non-null  float64
 12  food_bev         52608 non-null  float64
 13  entertainment    44193 non-null  float64
 14  ground_service   39358 non-null  float64
 15  value_for_money  63975 non-null  float64
 16  recommended      64440 non-null  object
dtypes: float64(7), object(10)
memory usage: 17.1+ MB

In [22]:
df.isna().sum()

airline                1
overall             1783
author                 1
review_date            1
customer_review        1
aircraft           42696
traveller_type     23644
cabin               2479
route              23671
date_flown         23750
seat_comfort        4973
cabin_service       4944
food_bev           12843
entertainment      20954
ground_service     24015
value_for_money     1857
recommended         1423
dtype: int64

In [14]:
print(df['recommended'].isna().sum())

67455

In [23]:
for col in df.columns:
    dtype = df[col].dtype
    unique = df[col].unique()
    nans = df[col].isna().sum()
    if len(unique) <= 15:
        print(f"{col} | Unique Values: {unique} | Data Types: {dtype} | Total Nan: {nans}", end='\n\n')
    else:
        print(f"{col} | Unique Values: {len(unique)} | Data Types: {dtype} | Total Nan: {nans}", end='\n\n')

airline | Unique Values: 82 | Data Types: object | Total Nan: 1

overall | Unique Values: [nan  7.  2.  3. 10.  1.  6.  8.  5.  4.  9.] | Data Types: float64 | Total Nan: 1783

author | Unique Values: 44070 | Data Types: object | Total Nan: 1

review_date | Unique Values: 3016 | Data Types: object | Total Nan: 1

customer_review | Unique Values: 61173 | Data Types: object | Total Nan: 1

aircraft | Unique Values: 2089 | Data Types: object | Total Nan: 42696

traveller_type | Unique Values: [nan 'Business' 'Family Leisure' 'Solo Leisure' 'Couple Leisure'] | Data Types: object | Total Nan: 23644

cabin | Unique Values: [nan 'Economy Class' 'Business Class' 'Premium Economy' 'First Class'] | Data Types: object | Total Nan: 2479

route | Unique Values: 24550 | Data Types: object | Total Nan: 23671

date_flown | Unique Values: 64 | Data Types: object | Total Nan: 23750

seat_comfort | Unique Values: [nan  4.  1.  3.  2.  5.] | Data Types: float64 | Total Nan: 4973

cabin_service | Unique Values: [nan  5.  1.  4.  3.  2.] | Data Types: float64 | Total Nan: 4944

food_bev | Unique Values: [nan  4.  1.  5.  2.  3.] | Data Types: float64 | Total Nan: 12843

entertainment | Unique Values: [nan  4.  1.  3.  5.  2.] | Data Types: float64 | Total Nan: 20954

ground_service | Unique Values: [nan  2.  1.  5.  3.  4.] | Data Types: float64 | Total Nan: 24015

value_for_money | Unique Values: [nan  4.  1.  2.  5.  3.] | Data Types: float64 | Total Nan: 1857

recommended | Unique Values: [nan 'yes' 'no'] | Data Types: object | Total Nan: 1423

In [20]:
df.drop_duplicates(inplace = True)

In [21]:
df.shape

(61184, 17)

In [27]:
num_cols = df.select_dtypes(exclude='object')

In [29]:
num_cols.median()

overall            5.0
seat_comfort       3.0
cabin_service      3.0
food_bev           3.0
entertainment      3.0
ground_service     3.0
value_for_money    3.0
dtype: float64

In [30]:
num_cols.mean()

overall            5.164863
seat_comfort       2.959278
cabin_service      3.200231
food_bev           2.926956
entertainment      2.887994
ground_service     2.681347
value_for_money    2.950849
dtype: float64

In [31]:
num_cols.shape

(61184, 7)

In [32]:
cat_cols = df.select_dtypes(include='object')

In [35]:
cat_cols.shape

(61184, 10)

In [36]:
cat_cols['recommended'].mode()

0    no
Name: recommended, dtype: object

In [43]:
cat_cols['recommended'].shape[0], sum(cat_cols['recommended'] == 'yes'), sum(cat_cols['recommended'] == 'no')

(61184, 28493, 31268)

In [44]:
cat_cols['recommended'].shape[0] - (sum(cat_cols['recommended'] == 'yes') + sum(cat_cols['recommended'] == 'no'))

1423

In [47]:
sum(cat_cols['recommended'] == 'yes')/cat_cols['recommended'].shape[0], (sum(cat_cols['recommended'] == 'no')+1423)/cat_cols['recommended'].shape[0]

(0.46569364539748953, 0.5343063546025104)

In [49]:
sum(cat_cols['recommended'].fillna('no') == 'no')/cat_cols['recommended'].shape[0]

0.5343063546025104

In [53]:
cat_cols.head()

,airline,author,review_date,customer_review,aircraft,traveller_type,cabin,route,date_flown,recommended
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Turkish Airlines,Christopher Hackley,8th May 2019,âœ… Trip Verified | London to Izmir via Istanb...,NaN,Business,Economy Class,London to Izmir via Istanbul,2019-05-01 00:00:00,yes
3,Turkish Airlines,Adriana Pisoi,7th May 2019,âœ… Trip Verified | Istanbul to Bucharest. We ...,NaN,Family Leisure,Economy Class,Istanbul to Bucharest,2019-05-01 00:00:00,no
5,Turkish Airlines,M Galerko,7th May 2019,âœ… Trip Verified | Rome to Prishtina via Ista...,NaN,Business,Economy Class,Rome to Prishtina via Istanbul,2019-05-01 00:00:00,no
7,Turkish Airlines,Zeshan Shah,6th May 2019,âœ… Trip Verified | Flew on Turkish Airlines I...,A330,Solo Leisure,Economy Class,Washington Dulles to Karachi,April 2019,yes

In [62]:
for col in cat_cols.columns:
    if col != 'customer_review':
        cat_cols[col] = cat_cols[col].fillna(value=cat_cols[col].mode()[0])

In [68]:
for col in num_cols.columns:
    num_cols[col] = num_cols[col].fillna(value=num_cols[col].median())

In [70]:
num_cols.isna().any()

overall            False
seat_comfort       False
cabin_service      False
food_bev           False
entertainment      False
ground_service     False
value_for_money    False
dtype: bool

In [77]:
new_df = pd.concat([num_cols, cat_cols], axis = 1)

In [79]:
new_df.dropna(axis=0, inplace=True)

In [80]:
new_df.shape

(61183, 17)

In [119]:
import string
import re
import nltk

In [123]:
lemmatizer=nltk.stem.WordNetLemmatizer()
swords = set(nltk.corpus.stopwords.words('english'))

def CleanText(text, stopwords_lan, base_case):
    clr_text = text.apply(lambda x : x.lower())
    clr_text = clr_text.apply(lambda x : x.replace('âœ',"'"))
    clr_text = clr_text.apply(lambda x : ''.join([c for c in x if ord(c) < 128]))
    clr_text = clr_text.apply(lambda x : " ".join(x.split()))
    clr_text = clr_text.apply(lambda x : x.translate(str.maketrans('','',string.punctuation)))
    clr_text = clr_text.apply(lambda x :  re.sub(r'^https?:\/\/.*[\r\n]*', '', x))
    clr_text = clr_text.apply(lambda x : " ".join(s for s in x.split() if not any(c.isdigit() for c in s)))
    clr_text = clr_text.apply(lambda text: " ".join(word for word in text.split() if not word in stopwords_lan))
    clr_text = clr_text.apply(lambda x :" ".join([base_case.lemmatize(word) for word in nltk.tokenize.word_tokenize(x)]))

    return clr_text

In [124]:
out = CleanText(new_df['customer_review'], swords, lemmatizer)

In [178]:
new_df['customer_review']=out

In [205]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA

# Step 1: TF-IDF Vectorization
vectorizer = TfidfVectorizer(max_features=500)
tfidf_matrix = vectorizer.fit_transform(new_df['customer_review'])

# Step 2: Convert to dense array (required for PCA)
tfidf_dense = tfidf_matrix.toarray()

# Step 3: Apply PCA
pca = PCA(n_components=3)
reduced_data = pca.fit_transform(tfidf_dense)

# reduced_data now holds the PCA-transformed data
print(reduced_data)

[[ 0.08557078 -0.05792736 -0.03700196]
 [-0.20421818  0.00368821  0.02327977]
 [-0.02569013 -0.01812233 -0.07214624]
 ...
 [ 0.08635116  0.30245993  0.15192698]
 [-0.07934529  0.08984944  0.11065458]
 [ 0.13153144 -0.07277204 -0.09842546]]

In [206]:
reduced_data.shape

(61183, 3)

In [208]:
# Step 4: Create a DataFrame for the reduced data
column_names = ['PC1', 'PC2', 'PC3']  # Naming the principal components
df_pca = pd.DataFrame(reduced_data, columns=column_names)

In [209]:
df_pca

            PC1       PC2       PC3
0      0.085571 -0.057927 -0.037002
1     -0.204218  0.003688  0.023280
2     -0.025690 -0.018122 -0.072146
3      0.112528 -0.069506 -0.110490
4     -0.146923 -0.032211 -0.053693
...         ...       ...       ...
61178  0.012563 -0.091889 -0.045643
61179  0.022681 -0.144083 -0.003436
61180  0.086351  0.302460  0.151927
61181 -0.079345  0.089849  0.110655
61182  0.131531 -0.072772 -0.098425

[61183 rows x 3 columns]